body{
    width: auto;
    color: black; 
    text-align: center;
}
a{
    color: green;
}
nav{
    background-color: lightskyblue;
}
.options li, .options a, .options a:visited{
    list-style-type: none;
    display: inline-block; 
    color: white; 
    margin: 0px; 
    padding: 10px; 
}
.options li:hover{
    background-color: red;
}
.home{
    position: absolute; 
    display: block; 
    left: 10px;
    text-decoration: none;
}
.menuselection{
    text-align: right;
}
img{
    box-align: center;
}
table, th, td {
    border: 1px solid black;
    box-align: center;
}
