body{
    width: auto;
    color: black; 
    text-align: center;
}
a{
    color: green;
}
nav{
    text-align: center;
}
img{
    box-align: center;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
