body{
    width: auto;
    color: black; 
    text-align: center;
}
a{
    color: green;
}
nav{
    text-align: center;
}
img{
    box-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
table, th, td {
    border: 1px solid black;
}
